.review-form-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    gap: 20px;
    border-radius: 10px;
}

.review-form-title {
    text-align: center;
}

.add-review-description-container {
    display: flex;
    flex-direction: column;
}

.add-review-description-container textarea {
    height: 100px;
    border-radius: 5px;
    padding: 5px;
}

.add-review-description-container textarea:focus {
    outline-color: var(--color-blue);
    /* Replace "blue" with your desired color */
}

.add-reviews-images>* {
    padding: 10px 0;
}

.preview-images-container {
    display: flex;
    gap: 5px;
    /* height: 100px; */
}

.preview-image {
    max-width: 100px;
    /* Set the desired width */
    max-height: 100px;
    /* Set the desired height */
}

.add-review-submit {
    background-color: var(--color-blue);
    border-radius: 5px;
    min-width: 200px;
    padding: 10px 20px;
    margin: 0 auto;
    color: white;
    border: none;
    cursor: pointer;
}

/* Stars */

.add-rating-container {
    display: flex;
    flex-direction: column;
}

.rating-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-error {
    font-size: 12px;
    color: red;
}

.star {
    width: 24px;
    height: 24px;
    fill: #cccccc;
    /* Default color for stars */
    transition: fill 0.2s;
    cursor: pointer;
}

.star.yellow {
    fill: #ffc107;
    /* Yellow color for selected stars */
}

.stars-container {
    display: inline-block;
}

.stars-container .star {
    margin-right: 5px;
}

/* Add hover effect */
.stars-container .star:hover {
    fill: #ffc107;
    /* Yellow color for hovered star */
}

.stars-container .star:hover~.star {
    fill: #cccccc;
    /* Revert color for stars to the right of the hovered star */
}
