:root {
    --font-lobster: 'Lobster', cursive;
    --font-oswald: 'Oswald', sans-serif;
    --font-lato: 'Lato', sans-serif;

    --color-red: #FC0909;
    --color-blue: #17255A;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF3F3;
    font-family: var(--font-lato);
    color: var(--color-blue);
    display: flex;
    justify-content: center;
    /* Horizontally center the content */

    min-height: 100vh;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.page-container {
    max-width: 900px;
    margin: 100px auto;
}

.modal-container {
    padding: 40px;
    min-width: 500px;
    width: auto;
    background-color: #FFF3F3;
    border: 3px solid var(--color-red);
    border-radius: 3px;

}

.modal-title {
    text-align: center;
    font-family: var(--font-oswald);
    font-size: 50px;
    font-weight: 300;
}

.signup-login-input-container {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    margin: 20px 0;
    border-radius: 3px;
}

.signup-login-input-container input {
    padding: 10px;
    background-color: #FFF3F3;
    border-radius: 3px;
    border: 1px solid gray;
    margin: 10px 0;
}

.signup-login-input-container input:focus {
    outline: none;
    border: 1px solid var(--color-red);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.modal-submit {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Autocomplete */
.autocomplete-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 300px;
    border: 1px solid gray;

}

.autocomplete-input input {
    border: none;
    background-color: transparent;
    outline: none;
}

.autocomplete-results {
    position: absolute;
    border: 1px solid gray;
    background-color: #FFF3F3;
    z-index: 999;
    width: 300px;
    text-align: start;
    overflow-x: hidden;
}

.nearby-search-results {
    width: 300px;
}

.autocomplete-result:hover {
    background-color: #B7DFF5;
    cursor: pointer;
}

.autocomplete-result {
    /* border: 1px solid gray; */
    padding: 5px;
}

.autocomplete-result:not(:last-child) {
    border-bottom: 1px solid gray;
    /* margin-bottom: 10px; */
}

.autocomplete-suggestion-address {
    color: gray;
    font-size: 12px;
}

/* Alice carousel */

.arrow-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.arrow-button svg path {
    fill: var(--color-blue);
}

.alice-carousel__dots {
    display: none !important;
}

.image-modal {
    width: 400px;
    height: 400px;
}

@media (max-width: 820px) {
    .modal-container {
        min-width: 300px;
    }

    .autocomplete-input {
        margin: 0 auto;
        min-width: 200px;
    }

    .page-container {
        max-width: 768px;
    }

    .autocomplete-results {
        min-width: 200px !important;
        margin: 0 auto;
    }

    .results-container {
        width: 300px;
    }

    .workshop-details-image-container {
        order: 2;
        margin-top: 20px;
    }

    .workshop-info-container {
        width: 500px;
        order: 1;
    }

}

@media (max-width: 400px) {
    .review-images-container {
        flex-wrap: wrap;
    }

    .workshop-info-container {
        width: 300px;
    }

    .review-wrapper {
        width: 300px;
    }

    .workshop-details-image {
        width: 250px !important;
        height: 250px !important;
    }

    .workshop-details-image-container {
        width: 250px !important;
        height: 250px !important;
        /* object-fit: fill; */
    }
}
