:root {
    --font-lobster: 'Lobster', cursive;
    --font-oswald: 'Oswald', sans-serif;
    --font-lato: 'Lato', sans-serif;

    --color-red: #FC0909;
    --color-blue: #17255A;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF3F3;
    font-family: var(--font-lato);
    color: var(--color-blue);
    display: flex;
    justify-content: center;
    /* Horizontally center the content */

    min-height: 100vh;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.page-container {
    max-width: 900px;
    margin: 100px auto;
}

.modal-container {
    padding: 40px;
    min-width: 500px;
    width: auto;
    background-color: #FFF3F3;
    border: 3px solid var(--color-red);
    border-radius: 3px;

}

.modal-title {
    text-align: center;
    font-family: var(--font-oswald);
    font-size: 50px;
    font-weight: 300;
}

.signup-login-input-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 0;
    border-radius: 3px;
}

.signup-login-input-container input {
    padding: 10px;
    background-color: #FFF3F3;
    border-radius: 3px;
    border: 1px solid gray;
}

.signup-login-input-container input:focus {
    outline: none;
    border: 1px solid var(--color-red);
}

.button-container {
    display: flex;
    justify-content: center;
}

.modal-submit {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Autocomplete */
.autocomplete-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 300px;
    border: 1px solid gray;

}

.autocomplete-input input {
    border: none;
    background-color: transparent;
    outline: none;
}

.autocomplete-results {
    position: absolute;
    border: 1px solid gray;
    background-color: #FFF3F3;
    z-index: 999;
    width: 300px;
    /* height: 100px; */
    text-align: start;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}

.autocomplete-result {
    /* border: 1px solid gray; */
    padding: 5px;
}

.autocomplete-result:not(:last-child) {
    border-bottom: 1px solid gray;
    /* margin-bottom: 10px; */
}

.autocomplete-suggestion-address {
    color: gray;
    font-size: 12px;
}

/* Workshop display */
.workshops-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.workshop-card {
    background-color: #f0f0f0;
    padding: 20px;
}

.image-container {
    width: 100%;
    /* height: 0; */
    padding-bottom: 100%;
    /* Maintain a square aspect ratio (adjust as needed) */
    position: relative;
    overflow: hidden;
}

.workshop-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workshop-link {
    color: inherit;
    /* Set the link color to inherit from the parent */
    text-decoration: none;
    /* Remove underline */
}
