.demo-user-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10px;
}

.center-button {
    display: flex;
    justify-content: center;
}
