.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1100px;
  margin: 20px auto;
}

.navbar li {
  min-width: 300px;
}

.navbar-logo {
  text-align: center;
}

.profile-button-icon {
  text-align: end;
}

.profile-button {
  background-color: transparent;
  border: 1px solid var(--color-red);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
}

.end-align {

  text-align: end;
}

.navbar-button>button {
  border: none;
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;

}

.inverted-button>button {
  color: var(--color-blue) !important;
  background-color: transparent !important;
}

.logo-link {
  color: var(--color-red);
  font-family: var(--font-lobster);
  font-size: 60px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .navbar {
    min-width: 800px;
  }

  .autocomplete-input {
    width: 200px;
    padding: 10px 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }

  .navbar-logo {
    order: 1;
  }

  .navbar-search {
    order: 2;
    margin-top: 20px;
  }

  .autocomplete-input {
    margin: 0 auto;
  }

}
