.workshop-details-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;
}

.workshop-details-image-container {
    width: 400px;
    height: 400px;
    /* object-fit: cover; */
}

.workshop-info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.workshop-details-container h2 {
    font-family: var(--font-oswald);
    font-size: 50px;
    font-weight: 400;
}

.line {
    border-bottom: 1px solid var(--color-blue);
}

/* Reviews */
.reviews-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.reviews-section-title {
    margin: 0 auto;
    width: fit-content;
    font-family: var(--font-oswald);
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
}

.add-review-button-container {
    display: flex;
    margin-bottom: 10px;
}

.add-review-button {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--font-lato);
    max-width: 300px;
    border: 1px solid black;
    cursor: pointer;
    margin: 0 auto;
    transition: transform 0.2s ease;
}

.add-review-button:hover {
    /* background-color: #B7DFF5; */
    transform: scale(1.025);
}

.user-review-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.review {
    display: flex;
    flex-grow: 1;
    /* width: 100%; */
    justify-content: space-between;
}

.user-review-container:hover {
    background-color: #FFE5E5;
}

.review-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.review-wrapper {
    padding: 10px;
}

.review-actions-container {
    padding: 5px;
    margin: 0 auto;
}

.review-images-container {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.review-image-container {
    width: 125px;
    height: 125px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.review-image-container:hover {
    transform: scale(1.025);
}

.review-image-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* margin-right: 10px; */
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--color-blue);
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    width: fit-content;
}

.dropdown-menu button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Ratings */
.review-average-ratings-container {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 5px 0;
}

.review-ratings-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 3px;
}



/* Votes */
.votes-container {
    display: flex;
    align-items: center;
}

.highlighted-thumbs-down-icon path[fill="gray"] {
    fill: #8B0000;
}

.highlighted-thumbs-up-icon path[fill="gray"] {
    fill: green;
}

.upvote-icon,
.downvote-icon {
    cursor: pointer;
}

.upvote-icon:hover path[fill="gray"] {
    fill: green;
}

.downvote-icon:hover path[fill="gray"] {
    fill: #8B0000;
}

.highlighted-thumbs-up-icon,
.highlighted-thumbs-down-icon {
    cursor: pointer;
}

.admin-info-button {
    cursor: pointer;
}
