.workshop-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;
}

.workshop-details-container h2 {
    font-family: var(--font-oswald);
    font-size: 50px;
    font-weight: 400;
}

.line {
    border-bottom: 1px solid var(--color-blue);
}

.reviews-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.reviews-section-title {
    margin: 0 auto;
    width: fit-content;
    font-family: var(--font-oswald);
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
}

.add-review-button {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--font-lato);
    max-width: 300px;
    border: 1px solid black;
}

.review-container {
    margin: 10px 0;
}

/* Votes */

.votes-container {
    display: flex;
    align-items: center;
}

.highlighted-thumbs-down-icon path[fill="gray"] {
    fill: #8B0000;
}

.highlighted-thumbs-up-icon path[fill="gray"] {
    fill: green;
}

.upvote-icon,
.downvote-icon {
    cursor: pointer;
}

.highlighted-thumbs-up-icon,
.highlighted-thumbs-down-icon {
    cursor: pointer;
}
