.nearby-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 75px;
    /* border: 2px solid var(--color-red); */
}

.nearby-workshop-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.search-heading-container h4 {
    font-family: var(--font-oswald);
    font-weight: 300;
    font-size: 50px;
}

.autocomplete-input-wrapper {
    display: flex;
    flex-direction: column;
}

.nearby-autocomplete-input {
    padding: 10px 20px;
    min-width: 400px;
}

.workshop-card-info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;

}

.workshops-header {
    text-align: center;
    font-family: var(--font-oswald);
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 20px;
}

.workshops-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.workshop-card {
    background-color: #FFE5E5;
    padding: 20px;
    border: .25px solid var(--color-red);
    height: max-content;
    transition: transform 0.2s ease;
}

.workshop-card:hover {
    transform: scale(1.025);
}

.image-container {
    width: 100%;
    /* height: 0; */
    padding-bottom: 100%;
    /* Maintain a square aspect ratio (adjust as needed) */
    position: relative;
    overflow: hidden;
}

.workshop-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workshop-link {
    color: inherit;
    /* Set the link color to inherit from the parent */
    text-decoration: none;
    /* Remove underline */
}

@media (max-width: 768px) {
    .workshops-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
        gap: 40px
    }

    .nearby-workshop-input-container {
        flex-direction: column;
    }
}
