.create-workshop-container {
    border: 2px solid var(--color-red);
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.create-workshop-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.create-workshop-container h5 {
    font-family: var(--font-lobster);
    font-size: 20px;
}

.custom-file-input {
    /* Add your custom styles here */
    /* For example: */
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    /* Add any other styles you want */
}

.hidden-file-input {
    display: none;
}

input[type="file"] {
    background-color: none;
}

.create-workshop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-red);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 0 auto;

}

.add-button path {
    fill: var(--color-red);
}

.error-message {
    color: red;
    margin-top: 8px;
}
